In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge,LinearRegression,Lasso
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [2]:
np.set_printoptions(suppress=True)

In [3]:
df = pd.read_csv('regu.csv')
df.head()

      a    b     c   y
0  4045  557  0.74  48
1  6347  112  0.09  99
2  3185  318  0.22  84
3  2069  922  0.64  95
4  9644  544  0.15  25

In [4]:
x = df.loc[:,:'c']
y = df['y']

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state=96)

In [6]:
lin_mod  = LinearRegression()
lin_mod.fit(x_train,y_train)
coef1 = lin_mod.coef_
print(coef1)

[-0.00024807  0.00010452 -3.95098334]

In [7]:
las_mod = Lasso()
las_mod.fit(x_train,y_train)
coef2 = las_mod.coef_
print(coef2)

[-0.00026213  0.00021338 -0.        ]

In [8]:
rid_mod = Ridge()
rid_mod.fit(x_train,y_train)
coef3 = rid_mod.coef_
print(coef3)

[-0.00024831  0.00010661 -3.88446312]

In [9]:
tab = pd.DataFrame({'Model':['Linear','Lasso','Ridge'],'B1':[coef1[0],coef2[0],coef3[0]], 'B2' :[coef1[1],coef2[1],coef3[1]],'B3': [coef1[2],coef2[2],coef3[2]]})

In [10]:
tab

    Model        B1        B2        B3
0  Linear -0.000248  0.000105 -3.950983
1   Lasso -0.000262  0.000213 -0.000000
2   Ridge -0.000248  0.000107 -3.884463