In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,VotingClassifier,GradientBoostingClassifier
from sklearn.metrics import r2_score,accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
pwd

'C:\\Users\\dbda\\Desktop\\Suchandra & Ajitesh\\Machine Learning\\Day-9'

In [3]:
df1 = pd.read_csv(r'Penguin/penguins_lter.csv')
df2 = pd.read_csv(r'Penguin/penguins_size.csv')

In [4]:
df1.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [5]:
df1.isnull().sum()

studyName                0
Sample Number            0
Species                  0
Region                   0
Island                   0
Stage                    0
Individual ID            0
Clutch Completion        0
Date Egg                 0
Culmen Length (mm)       2
Culmen Depth (mm)        2
Flipper Length (mm)      2
Body Mass (g)            2
Sex                     10
Delta 15 N (o/oo)       14
Delta 13 C (o/oo)       13
Comments               318
dtype: int64

In [6]:
df1.columns

Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')

In [7]:
df = df1.drop(columns=['Sex','Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'])

In [8]:
df = df.dropna()

In [9]:
df.isnull().sum()

studyName              0
Sample Number          0
Species                0
Region                 0
Island                 0
Stage                  0
Individual ID          0
Clutch Completion      0
Date Egg               0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Body Mass (g)          0
dtype: int64

In [10]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0
5,PAL0708,6,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A2,Yes,11/16/07,39.3,20.6,190.0,3650.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 343
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   studyName            342 non-null    object
 1   Sample Number        342 non-null    int64
 2   Species              342 non-null    object
 3   Region               342 non-null    object
 4   Island               342 non-null    object
 5   Stage                342 non-null    object
 6   Individual ID        342 non-null    object
 7   Clutch Completion    342 non-null    object
 8   Date Egg             342 non-null    object
 9   Culmen Length (mm)   342 non-null    float64
 10  Culmen Depth (mm)    342 non-null    float64
 11  Flipper Length (mm)  342 non-null    float64
 12  Body Mass (g)        342 non-null    float64
dtypes: float64(4), int64(1), object(8)
memory usage: 37.4+ KB

In [12]:
x = df[['Island','Culmen Length (mm)','Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)']]
x = pd.get_dummies(x)
y = df['Species']

In [13]:
np.unique(y)

array(['Adelie Penguin (Pygoscelis adeliae)',
       'Chinstrap penguin (Pygoscelis antarctica)',
       'Gentoo penguin (Pygoscelis papua)'], dtype=object)

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.30)

In [15]:
svcmod = SVC()
treemod = DecisionTreeClassifier()
rfmod = RandomForestClassifier()
vmod = VotingClassifier(estimators=[('Support Vector Machine',svcmod),('Decision Tree',treemod),('Random Forest',rfmod)],voting='hard')
gbbod = GradientBoostingClassifier()

In [21]:
model = []
acc = []
ts = []
tes = []

In [22]:
for mod in (svcmod,treemod,rfmod,vmod,gbbod):
    mod.fit(x_train,y_train)
    ypred = mod.predict(x_test)
    tscore = mod.score(x_train,y_train)
    tescore = mod.score(x_test,y_test)
    score = accuracy_score(y_test,ypred)
    model.append(mod.__class__.__name__)
    ts.append(tscore)
    tes.append(tescore)
    acc.append(score)

In [23]:
report = pd.DataFrame({'Model Name':model,'Train Score': ts,'Testing score': tes,'Accuracy Score':score})
report

                   Model Name  Train Score  Testing score  Accuracy Score
0                         SVC     0.732218       0.737864        0.990291
1      DecisionTreeClassifier     1.000000       0.990291        0.990291
2      RandomForestClassifier     1.000000       1.000000        0.990291
3            VotingClassifier     1.000000       0.990291        0.990291
4  GradientBoostingClassifier     1.000000       0.990291        0.990291