Task5:-
=======
Given:-
--------
name  dept  
ravi  sales
manu  purch
hari  accts

Expected1:-
==========
name  sales  purch  accts
ravi  1      0      0
manu  0      1      0
hari  0      0      1

Expected2:-
===========
name  dept
ravi  1
manu  2
hari  3

Expected3:-
==========
name  dept
ravi  0.1
manu  0.2
hari  0.3

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("emp.csv")
df

  name  dept
0  ravi  sales
1  manu  purch
2  hari  accts

Index(['name  dept  '], dtype='object')