In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_csv('rain.csv')
df.head()

      pressure   humidity       temp  rain
0  1010.227307  60.544759  20.758588     0
1  1020.845676  75.458283  22.032115     1
2  1015.654002  80.300858  18.647099     1
3  1018.525788  50.815060  25.064591     0
4  1025.001878  65.258981  30.152402     0

In [9]:
df['pressure'] = np.round(df['pressure'],2)
df['humidity'] = np.round(df['humidity'],2)
df['temp'] = np.round(df['temp'],2)
df.head()

   pressure  humidity   temp  rain
0   1010.23     60.54  20.76     0
1   1020.85     75.46  22.03     1
2   1015.65     80.30  18.65     1
3   1018.53     50.82  25.06     0
4   1025.00     65.26  30.15     0

In [10]:
log1 = df[['pressure','rain']]

In [11]:
model = LinearRegression()

In [12]:
model.fit(np.array(df['pressure']).reshape(-1,1),df['rain'])

LinearRegression()

In [21]:
print(model.coef_[0],model.intercept_)

-0.02906498070127208 29.938568869512558

In [22]:
def to_sig(z):
    y = 1/(1 + (np.exp(-z)))
    return y

In [25]:
z = [model.coef_[0] * val + model.intercept_ for val in df['pressure']]

In [26]:
z_sig = [to_sig(val) for val in z]

In [30]:
z_sig = np.array(z_sig)
z_sig

array([0.64020486, 0.56649952, 0.60317721, 0.58297888, 0.53667493,
       0.65190145, 0.62466674, 0.55526115, 0.66974807, 0.49859313,
       0.63233506, 0.66029541, 0.54706456, 0.61988461, 0.57319639,
       0.52618089, 0.64407866, 0.59290695, 0.53869791, 0.61383971,
       0.61844537, 0.63570714, 0.54828859, 0.6438121 , 0.55597879,
       0.60623414, 0.6538775 , 0.56399965, 0.6004609 , 0.63301053,
       0.66562075, 0.57020733, 0.6132884 , 0.65814071, 0.54418227,
       0.62453044, 0.53096092, 0.63637997, 0.6534169 , 0.59955407,
       0.65807531, 0.56735584, 0.5766059 , 0.60706642, 0.5610671 ,
       0.60789807, 0.55051913, 0.62507552, 0.63125324, 0.64481124,
       0.53999774, 0.58078676, 0.57234291, 0.62745652])

In [28]:
yhat = np.where(z_sig>0.5,1,0)

In [29]:
yhat

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])